*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    --primary: rgb(1, 117, 163);
    --secondary: rgb(9, 0, 32)

}
body{
    background-color: var(--secondary);
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-side{
    width: 60%;
    height: 100vh;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-side h1{
    font-size: 70px;
}
.info-side p{
    font-size: 30px;
}
@media (max-width: 750px){
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column wrap;
    }
    .info-side{
        width: 100vw;
        height: 100vh;
        color: var(--primary);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -200px;
    }
    .info-side h1{
        font-size: 2rem;
    }
    .info-side p{
        font-size: 1rem;
        text-align: center;
    }
}
@media (max-width: 750px){
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column wrap;
    }
    .info-side{
        width: 100vw;
        height: 100vh;
        color: var(--primary);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -150px;
    }
    .info-side h1{
        font-size: 1.2rem;
    }
    .info-side p{
        font-size: 1rem;
        text-align: center;
    }
}
.form-side{
    width: 40%;
    height: 100vh;
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-side h3{
    font-size: 40px;
    margin-bottom: 30px;
}
.form-side input{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--primary);
    font-size: 20px;
    color: var(--secondary);
    padding: 15px;
    margin: 10px 0px;
    border: none;
    outline: none;
}
.form-side input::placeholder{
    color: var(--secondary);
}
button{
    width: 100px;
    height: 50px;
    background-color: var(--primary);
    color: var(--secondary);
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 30px;
}
.form-side a{
    display: inline-block;
    padding-left: 30px;
    margin-top: 30px;
    text-decoration: none;
    color: var(--primary);
}
@media (max-width: 750px){
    .form-side{
        width: 100vw;
        height: 100vh;
        color: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -400px;
        padding-left: 30px;
    }
    .form-side h3{
        font-size: 1.8rem;
        margin-bottom: 30px;
    }
    .form-side input{
        width: 300px;
        height: 50px;
        border-radius: 10px;
        background-color: var(--primary);
        font-size: 20px;
        color: var(--secondary);
        padding: 15px;
        margin: 10px 0px;
        border: none;
        outline: none;
    }
    .form-side input::placeholder{
        color: var(--secondary);
    }
    button{
        width: 100px;
        height: 50px;
        background-color: var(--primary);
        color: var(--secondary);
        border: none;
        outline: none;
        font-size: 20px;
        border-radius: 10px;
        margin-top: 30px;
    }
    .form-side a{
        display: inline-block;
        padding-left: 30px;
        margin-top: 30px;
        text-decoration: none;
        color: var(--primary);
    }   
}
@media (max-width: 350px){
    .form-side{
        width: 100vw;
        height: 100vh;
        color: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -250px;
        padding-left: 30px;
    }
    .form-side h3{
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
    .form-side input{
        width: 250px;
        height: 30px;
        border-radius: 10px;
        background-color: var(--primary);
        font-size: 1.2rem;
        color: var(--secondary);
        padding: 15px;
        margin: 10px 0px;
        border: none;
        outline: none;
    }
    .form-side input::placeholder{
        color: var(--secondary);
    }
    button{
        width: 100px;
        height: 30px;
        background-color: var(--primary);
        color: var(--secondary);
        border: none;
        outline: none;
        font-size: 1.2rem;
        border-radius: 10px;
        margin-top: 20px;
    }
    .form-side a{
        display: inline-block;
        padding-left: 0px;
        margin-top: 10px;
        text-decoration: none;
        color: var(--primary);
    }   
}